<!DOCTYPE html>
<html lang="ja">
<meta charset="utf-8">
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://i18n-translator.googlecode.com/svn/trunk/jquery/jquery.printf.js"></script>
<script type="text/javascript" src="/js/socket.io.js"></script>

<script type="text/javascript">
    var socket = io.connect('http://localhost:3000').of('/view');
	var currentTime = 0;
    //データ受信ハンドラ
    socket.on('message', function(message){
		console.dir(message);
		var time = new Date(message.time);
		if(currentTime < time){
			currentTime = time;
			var str = $.sprintf("%s [%s] %s",message.time, message.level, message.msg);
			var line = $('<div/>');
			switch(message.level){
				case 'trace':line.text(str).addClass('trace');break;
				case 'debug':line.text(str).addClass('debug');break;
				case 'INFO':line.text(str).addClass('info');break;
				case 'WARN':line.text(str).addClass('warn');break;
				case 'error':line.text(str).addClass('error');break;
			}
        	$("#show").append(line);
			window.scroll(0,1000000);
		}
    });
    //サーバ切断
    socket.on('disconnect', function(message){
        $("#show").append('server disconnect');
    });

	setInterval(function(){
		socket.emit('request',{
			time:currentTime,
		});
	}, 1000);
	
	$(function(){
		$('#clearButton').click(function(e){
			console.log('log clear');
			socket.emit('clear', {});
			$('#show').remove();
		});
	});
</script>

<style type="text/css">
	.trace {
		color: black;
	}
	.debug {
		color: black;
	}
	.info {
		color: green;
	}
	.warn {
		color: goldenrod;
	}
  	.error {
		color: red;
  	}

</style>

</head>
<body>
<h1>Titanium Log</h1>
<div id="show"></div>
<input type='button' value='clear' id='clearButton'/>
</body>
</html>